body, h1, h2, ul, p, div {
    margin: 0px;
    padding: 0px;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(71, 71, 71);
}
#global{
    max-width: 800px;
    margin: 0 auto;
}
div {
    background-color: white;
}
div.nav {
    background-color: gray;
    color: white;
    padding: 25px 50px;
}
.links a{
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0 5px;
}
.links {
    float: right;
    background-color: gray;
}
.links a:hover {
    color: orange;
}
.links a.active {
    background-color: rgb(56, 56, 56);
}
.nav h2 {
    display:block;
    float:left;
    font-weight: normal;
}
.title {
    background-color:black;
    color:rgb(255, 255, 125);
    text-align:center;
    padding: 100px;
    font-size: 1.5em;
}
.content {
    padding: 50px 50px;
}
.small-block div{
    background-color: rgb(0, 183, 255);
    height: 150px;
    margin: 0px 4%;
    border-radius: 20px;
    display:inline-block;
    width:24%
}
.large-block div{
    background-color: rgb(255, 196, 0);
    width: 40%;
    height: 150px;
    margin: 20px 4%;
    display:inline-block;

}
.text {
    width: 40%;
    height: 100px;
    margin: 0px 4%;
    display:inline-block;

}
.text p {
    font-size: 9px;
    margin: 0 auto;
}
.animal {
    
    width: 40%;
    height: 100px;
    margin: 0px 4%;
    display:inline-block;
}
.animal img {
    width: 196px;
    height: 100px;
}
.footer {
    background-color: rgb(87, 32, 150);
    padding:40px;
}